# --- Secrets et Configurations Locales ---
# Ignore the copybook containing REPLACE statements (passwords/credentials)
*ZSMSPWD*

# Exclude local documentation folder
doc/

# Exclude MacOS Shell Files
*.sh

# --- Listings and Logs ---
# Compiler outputs and logs often contain sensitive system information
*.log
*.yaml

# --- Temporary Transfer Files ---
# Exclude system-specific and transfer-related temporary files (FTP/Zowe)
*.tmp
.DS_Store